.list-item-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .list-item-rules_number {
    margin-inline-start: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
}