.app {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #202834;

  & .app-header {
    padding: 0 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 2.5rem;
    background: black;
    color: white;

    display: flex;
    align-items: center;
  }

  & .app-main {
    overflow: hidden;
    height: 0;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    & .app-content {
      overflow: hidden;
      width: 0;
      flex-grow: 1;
      flex-shrink: 1;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & .app-content-filters {
        flex-grow: 0;
        flex-shrink: 0;
      }

      & .app-content-table {
        height: 0;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        padding: 0;
      }
    }

    & .app-side {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}