.account-table {
  border-collapse: collapse;
  height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  
  & .account-table-row {
    user-select: none;
    &.account-table-row--credit {
      background: #0F0;
    }
    &.account-table-row--hover {
      background: #EEE;
    }
    &.account-table-row--hover.account-table-row--credit {
      background: #0A0;
    }
  }

  & .account-table-row-cell {
    padding: 5px;
  }

  tfoot tr {
    position: sticky;
    background: red
  }
}