.account-table {
  border-collapse: collapse;
  height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  display: block;

  & thead {
    line-height: 2rem;
    border-bottom: 1px solid grey;
  }
  & th {
    position: sticky;
    top: 0;
    background: #CCC;
  }

  & .account-table-row {
    user-select: none;
    border-bottom: 1px solid #CCC;

    &.account-table-row--credit {
      background: #99EDC3;
    }

    &.account-table-row--hover {
      background: #DDD;
    }

    &.account-table-row--hover.account-table-row--credit {
      background: #B2D3C2;
    }
  }

  & .account-table-row-cell {
    padding: 5px;
    vertical-align: text-top;

    &.account-table-row-cell--flex {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    &.account-table-row-cell--bold {
      &>div:first-child {
        font-weight: bold;
      }
    }
  }

  tfoot tr {
    position: sticky;
    bottom: 0;
    background: #CCC;
    height: 2.5rem;
    font-weight: bold;
    & .account-table-row-cell {
      padding: 5px;
      vertical-align: middle;
    }
  }
}